.about-container {
  font-family: "Arial", sans-serif;
  color: black;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
  margin-top:10vh;
  margin: 10vh;
}

.about-hero {
  text-align: center;
  margin-bottom: 40px;
  background-color: peachpuff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideInFromTop 1s ease;
}

.about-title {
  font-size: 3rem;
  color: orange;
  margin: 0;
}

.about-subtitle {
  font-size: 1.2rem;
  color: black;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2rem;
  color: orange;
  margin-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  padding: 20px;
  background-color: peachpuff;
  border-radius: 8px;
  flex: 1 1 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 3vh;
}

.feature-icon {
  font-size: 2.5rem;
  color: orange;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.5rem;
  color: orange;
  margin-bottom: 10px;
}

.future-section {
  background-color: peachpuff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thank-you {
  text-align: center;
  margin-top: 30px;
  animation: zoomIn 1s ease-in-out;
}

.thank-you p {
  font-size: 1.2rem;
  color: orange;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
