.search-bar {
    margin: 20px 0;
    text-align: center;
  
  }
  
  .search-bar input {
    padding: 8px 16px;
    width: 80%;
    max-width: 400px;
    border: 3px solid orange;
    border-radius: 4px;
  }
  .search-suggestions {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    width: 100%;
  }
  
  .suggestion-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f2f2f2;
  }
  
  .suggestion-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .suggestion-info {
    display: flex;
    flex-direction: column;
  }
  
  .suggestion-name {
    font-weight: bold;
  }
  
  .suggestion-price {
    color: #777;
  }
  